/* Base styles */
.mainContainer {
  top: 86px;
  gap: 0px;
  display: flex;
  flex-direction: row;
  background: #F7F5F9;
}

.BanerSection {
  width: 707px;
  height: 578px;
  top: 100px;
  left: 100px;
  gap: 0px;
  margin: 40px;
}

.banerHeading {
  font-size: 36px;
  font-style: italic;
  color: black;
  line-height: 54px;
  font-weight: 500;
  letter-spacing: 2%;
}

.colorspan1 {
  color: rgb(39, 39, 201);
}

.colorspan2 {
  color: rgb(18, 18, 120);
}

.para {
  gap: 12px;
}

.SmSignup {
  display: none;
}

/* Media query for small screens (up to 600px) */
@media screen and (max-width: 600px) {
  .mainContainer {
    flex-direction: column;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px; /* Add padding to avoid overlap */
  }

  .BanerSection {
    width: 90vw;
    margin: 20px 0; /* Add margin to avoid overlap */
    height: auto; /* Adjust height to fit content */
  }

  .banerHeading {
    font-size: 22px;
    margin-top: 5vh;
  }

  .SmSignup {
    display: block;
  }
}

/* Media query for medium screens (601px to 1024px) */
@media screen and (min-width: 601px) and (max-width: 1024px) {
  .sign-in-body {
    display: flex;
    flex-direction: column;
    width: 50vw;
    margin-bottom: 10vh;
  }

  .lgSignup{
    width: 70vw;
  }

  

  .mainContainer {
    height: auto;
    display: flex;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .BanerSection {
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px 0; /* Add margin to avoid overlap */
  }

  .banerHeading {
    font-size: 22px;
  }
}

/* Additional media queries */
@media (max-width: 768px) {
  .groupImage {
    width: 80vw;
    margin-top: 25px;
  }
}

@media (max-width: 786px) {
  .lgSignup {
    display: none;
  }
}
