.mainContainer {
  top: 86px;
  gap: 0px;
  opacity: 0px;
  display: flex;
  flex-direction: row;
  background: #F7F5F9;


}

.BanerSection {
  width: 707px;
  height: 578px;
  top: 100px;
  left: 100px;
  gap: 0px;
  opacity: 0px;
  margin: 40px;
}

.banerHeading {
  font-size: 36px;
  font-style: italic;
  color: black;
  line-height: 54px;
  font-weight: 500;
  letter-spacing: 2%;
}

.colorspan1 {
  color: rgb(39, 39, 201);
}

.colorspan2 {
  color: rgb(18, 18, 120);
}


.para{
    gap: 12px;
}