.parentContainer{
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: center;
    height: 50vh;
    background-color: #F7FDFF;
}


.headingdiv{
    display: flex;
    
}

.add-button{
    width: 100px;
}

.add-card{
    margin: 20vw;
    background-color: #ffffff;
    padding: 10px;
}